@use "../abstracts/variables" as *;



.sculptures-page {
    > p {
        padding-bottom: 10em;
        width: 85%;
        margin: 0 auto;
        @media screen and (min-width: $small-tablet-breakpoint) {
            width: 50%;
        }
    }
    > h2 {
        padding-top: 50px;   
        @media screen and (min-width: $tablet-breakpoint) {
            padding-top: 150px;
        }         
    }
}


.carousel-sculptures {
    margin: 0 auto;
}




.img-description {
    position: absolute;
    color: rgb(0, 0, 0);
    bottom: 0;
    right: 0;
    left: 0;
    height: 4em;
    line-height: 3em;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.393);
    @media screen and (min-width: $tablet-breakpoint) {
        background-color: rgba(0, 0, 0, 0.25);
        color: white;
        line-height: 4em;
        transform: translateY(100%);
        transition: transform 250ms linear, opacity 200ms linear;
        opacity: 0;
        pointer-events: none;
        padding-left: .5em;        
    }
}



.teaser {
    pointer-events: none;
    li.column:hover {
        pointer-events: none;
    }
}