@use "../abstracts/variables" as *;



.btn-see-more {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: calc(100px / 2);
    position: relative;
    transition: background-color 150ms linear, box-shadow 250ms linear;
    transform: translateY(100%);
    &:hover {
        box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);     
        cursor: pointer;       
    }
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 50px;
        background-color: black;
        top: 50%;
        left: 50%;
        z-index: 50;
    }
    &::before {
        transform: translateX(-50%);        
    }
    &::after {
        transform: rotate(90deg) translateY(25px);
    }
    @media  screen and (min-width: $tablet-breakpoint) {
        height: 110px;
        width: 110px;
        border-radius: calc(110px / 2);
        transform: translateY(50%);
    }
}

.about-me .btn-see-more {
    transform: translateY(0%);
}
    


#to-top {
    position: fixed;
    right: 1%;
    bottom: 25px;
    z-index: 1000;
    font-size: 3em;
    cursor: pointer;
    color: #3b3b3b;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 200ms linear;
    &:hover {
        transform: translateY(-10%);        
    }
    &.show {
        opacity: 1;
        pointer-events: auto;        
    }
}


#close-btn{
    position: relative;
    height: 40px;
    width: 40px;
    top: 0;
    right: 5%;
    margin-left: 95%;
    display: block;
    @media screen and (min-width: $tablet-breakpoint){
        top: 5%;
        right: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 2px;
        background-color: $base-color;
        transition: transform 200ms linear;
    }
    &::before {
        transform: translateY(13px);
        transform: rotate(45deg);
    }
    &::after {
        transform: translateY(-13px);
        transform: rotate(-45deg);
    }
}

div.wpforms-container-full input[type=submit]:not(:hover):not(:active), div.wpforms-container-full button[type=submit]:not(:hover):not(:active), div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
    background-color: $third-color;
    color: $secondary-color;
    border: solid 1px $base-color;
    border-radius: 30px;
    transition: box-shadow 100ms linear;

}
div.wpforms-container-full button[type=submit]:hover {
         background-color: $third-color;
         box-shadow: 1px 1px 15px 1px #989898;
     }