@use "../abstracts/variables" as *;

.column,
.column-home {
    max-height: 300px;
    overflow: visible;
    position: relative;
    .img-description {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        line-height: 1.4;
    }
    a:hover {
        cursor: pointer;
    }
    &:hover {
         cursor: pointer;
     }
    &:hover .img-description {
        @media screen and (min-width: $tablet-breakpoint){
            transform: translateY(0);
            opacity: 1;
            bottom: 0;
            pointer-events: all;
            cursor: pointer;
        }
    }
    img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        object-position: 50% 80%;
    }
    @media screen and (min-width: $tablet-breakpoint) {
        position: relative;
        max-height: 100%;
        width: 100%;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &.btn-container {
        display: flex;
        width: 200px;
        margin: 3em auto 0;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        max-height: 350px; 
        padding-bottom: 50px;
        overflow: visible;
        
    @media  screen and (min-width: $tablet-breakpoint) {
        transform: translateY(-100px);        
        }
    }

}


li.column{
    margin: 0;
    position: relative;
    @media screen and (min-width: $tablet-breakpoint) {
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
    }
}



.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 145px;
    margin: 0 auto;
    @media  screen and (min-width: $tablet-breakpoint) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        gap: 30px; 
        justify-items: center;
        justify-content: center;
    }
    @media  screen and (min-width: $biggest-breakpoint) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.teaser ~ .column-home:hover {
    cursor: default;
}