$base-color: #d2d2d2;
$secondary-color: #000000;
$third-color: #ffffff;
$contrast-color: $third-color;
$gradient-color1: #d1d1d1;
$gradient-color2: #949494;
$gradient-color3: #a5a5a5;


$base-font-size: 16px;
$base-line-height: 1.4;
$navbar-height-mobile: 65px;
$navbar-height-desktop: 100px; 

$small-tablet-breakpoint: 650px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1200px;
$biggest-breakpoint: 1400px;